@use "function" as *;

//Font Family
$primary-font: 'SVN-Gilroy', sans-serif;

// Colors
$primary-color: #002A48;
$secondary-color: #003459;
$background-color: #FCEED5;
$description-color: #242B33;
$white: #ffffff;
$card-primary-color: #00171F;
$grey-color: #667479;
$black-color: #000000;
$tag-color: #00A7E7;


// Breakpoints