@use "function" as *;

//Font Family
$primary-font: 'SVN-Gilroy', sans-serif;
// font-family: ;

// Colors
$primary-color: #002A48;
$secondary-color: #003459;
$background-color: #FCEED5;
$description-color: #242B33;


// Breakpoints
