@use "../abstracts/" as *;

.btn {
  border-radius: 57px;
  &-secondary {
    @include flex($direction: row, $align: center, $justify: space-between);
    border: 2px solid $secondary-color;
    padding: 12px 28px;
    color: $secondary-color;
    font-weight: 500;
    font-size: 14px;

    img {
      padding-left: 21px;
    }
  }
  &-primary {
    background-color: $secondary-color;
    color: $white;
    padding: 14px 35px;
  }
}