@use "../../abstracts/" as *;

.section-sellers .list {
  &-sellers {
    @include flex($justify: space-between, $gap: none);
  }
  &-item {
    box-shadow: none;
    padding: 0 0;
  }
}

.section-knowledge {
  .card {
    &-content {
      padding: 8px 8px;
      max-width: 348px;
      padding: 8px 8px;
    }
    &-title {
      padding: 10px 0 6px 0;
    }
  }
}

.section-hero .section-image {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  background-color: $background-color;

  img {
    object-fit: cover;
  }
}

.section-hero {
  position: relative;
  height: 100vh;
  z-index: -1;

}